.mid-me {
    @include setFlex(column, flex-end, stretch);
    height: 62.5%;
}

.animateWindow {
    top: 0;
}

.window {
    @include setFlex(column, flex-start, stretch);
    position: relative;
    top: 66vh;
    transition: 1s all linear;
    height: 80%;
    min-height: 41rem;
    background-color: $c-white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 1rem 0 2rem 1rem #f6f6f6, 0 -1rem 2rem 1rem #f6f6f6, -1rem 0 2rem 1rem #f6f6f6;

    &__top-bar {
        @include setFlex(row, space-between, stretch);
        height: 8%;
        background-color: #e67095;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    &__lights-wrap {
        @include setFlex(row, space-between, center);
        width: 10%;
        margin-left: 2%;
    }

    &__light {
        width: 20%;
        height: 50%;
        border-radius: 50%;

        &--red {
            @extend .window__light;
            background-color: $c-red-ribon;
        }

        &--yellow {
            @extend .window__light;
            background-color: $c-pear;
        }

        &--green {
            @extend .window__light;
            background-color: $c-olive-drab;
        }
    }

    &__about {
        @include setFlex(row, center, center);
        margin-right: 2%;
        color: white;
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__content {
        @include setFlex(column, flex-start, stretch);
        height: 92%;
        color: #e67095;

        >h2 {
            margin-top: $space-large;
            margin-left: 5%;
            font-size: 3rem;
        }
    }

    &__description {
        @include setFlex(row, flex-start, stretch);
        height: 70%;
        margin-left: 7%;
        border-left: 1px solid $c-iron;
        box-sizing: border-box;
    }

    &__me-skills {

        &:nth-child(1){
            width: 60%;
        }

        &:nth-child(2){
            width: 40%;
        }

        >h3 {
            margin-left: $space-x-large;
            margin-top: $space-x-small;
            margin-bottom: $space-standard;
            font-size: 2.5rem;
        }

        &:nth-child(2)>h3 {
            margin-left: 0;
        }
    }

    &__text {
        margin: $space-standard $space-standard $space-standard $space-x-large;
        font-family: monospace;
        font-size: 1.3rem;
        padding-left: $space-large;
        border-left: 1px solid $c-iron;
        box-sizing: border-box;
    }

    &__skills-wrap {
        @include setFlex(column, space-around, stretch);
        height: calc(90% - 4.1rem);
        width: 90%;
        padding-left: 8%;
        border-left: 1px solid $c-iron;
        box-sizing: border-box;
    }

    &__skill-line {
        @include setFlex(row, flex-start, stretch);
        height: 12%;
    }

    &__skill-bar {
        height: 100%;
        width: 80%;
        background-color: $c-porcelain;
        border-radius: 5px;
    }

    &__skill-level {
        @include setFlex(row, flex-start, center);
        height: 100%;
        padding-left: 5%;
        box-sizing: border-box;
        color: white;
        font-size: 1.8rem;
        background-color: $c-deepBlush;
        border-radius: 5px;
        white-space: nowrap;

        @each $name, $level in $skills-level{
            &--#{$name}{
                @extend .window__skill-level;
                width: $level * 1%;
            }
        }
    }

    .window__skill-number {
        @include setFlex(row, center, center);
        margin-left: $space-small;
        font-size: 1.5rem;
        font-weight: 600;
        color: $c-east-bay;
    }
}

.grey {
    color: $c-scorpion;
}


@media only screen and (max-width: 768px) {
    .mid-me {
        height: 43%;
    }

    .window{
        &__skills-wrap{
            @include setFlex(column, space-evenly, stretch);
        }

        &__skill-line{
            height: 10%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .mid-me {
        height: 50%
    }

    .window {
        &__top-bar {
            height: 5%;
        }

        &__content {
            height: 95%;

            >h2 {
                margin-top: $space-small;
                margin-bottom: $space-standard;
                font-size: 2.5rem;
            }
        }

        &__me-skills {
            &:nth-child(1){
                width: 100%;
                height: 100%;
            }

            &:nth-child(2){
                width: 100%;
                height: 100%;
            }

            >h3 {
                font-size: 2.2rem;
            }
        }

        &__description {
            @include setFlex(column, flex-start, stretch);
            height: 100%;
        }

        &__skills-wrap{
            @include setFlex(column, space-around, stretch);
        }

        &__skill-level{
            font-size: 1.3rem;
        }

    }
}