.home {
    display: flex;
    position: relative;
    height: 150vh;
    margin-top: 10vh;
    background-color: $c-white;
    clip-path: ellipse(100% 60% at 50% 40%);
    box-sizing: border-box;

    >img {
        position: absolute;

        @each $numb,
        $top,
        $left,
        $side in $imgPos {
            &:nth-child(#{$numb}) {
                top: $top * 1%;
                #{$side}: $left * 1%;
            }
        }
    }

    &__left-col {
        width: 12.5%;
    }

    &__mid-col {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 75%;
        min-width: 0;
        box-sizing: border-box;
    }

    &__right-col {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 12.5%;
    }

    &__underlay {
        position: relative;
        z-index: 2;
        background-color: $c-white-sand;
    }
}

.mid-header {
    display: flex;
    height: 45%;
    min-height: 30rem;

    &__background-inscription {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        font-size: 13rem;
        line-height: 13rem;
        color: $c-wild-sand;
        z-index: -1;
    }

    &__left-part {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: relative;
        width: 50%;
        min-width: 31rem;
        font-family: 'Lato', sans-serif;
        color: $c-tuna;

        >h1 {
            position: relative;
            margin-bottom: $space-small;
            font-size: 2rem;
            font-weight: 100;

            >span {
                color: $c-deepBlush;
            }
        }

        >h2 {
            margin-top: 0;
            font-size: 3.2rem;

            &:first-letter {
                vertical-align: middle;
                font-size: 4.6rem;
                font-weight: 300;
            }
        }
    }

    &__buttons-wrap {
        display: flex;
        height: 3.2rem;
    }

    &__button {
        @include flexCenter;
        width: 30%;
        min-width: 11rem;
        text-decoration: none;
        color: $c-deepBlush;
        font-size: 1.6rem;
        line-height: 3.2rem;
        @include borderRadius(10%, 50%);

        &:hover {
            background-color: $c-deepBlush;
            box-sizing: border-box;
            color: $c-white;
            transition: 0.3s all linear;
        }

        &:first-child {
            border: 1px solid $c-deepBlush;
            @include borderRadius(10%, 50%);
            box-sizing: border-box;
            font-weight: 600;
            margin-right: 10%;
        }
    }

    &__right-part {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 50%;
        overflow: hidden;
    }

    &__stripe {
        position: relative;
        height: 30rem;
        background-color: $c-deepBlush;
        border-top-left-radius: 15rem 15rem;
        border-bottom-left-radius: 15rem 15rem;
        transition: 1s all linear;

        >img {
            position: absolute;
             top: 3.6rem;
    left: 3.5rem;
    width: 23rem;
    height: 30rem;
    object-fit: cover;
    clip-path: circle(11.5rem at 11.5rem 11.5rem);
        }
    }

    &__stripe-overlay {
        position: absolute;
        top: 3.6rem;
        left: 3.5rem;
        width: 23rem;
        height: 23rem;
        background-color: transparent;
        z-index: 1;
        transform: rotate(10deg);
    }

    &__stripe-circle {
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        background-color: $c-white-sand;
    }
}

.right-header {
    display: flex;
    flex-flow: column nowrap;
    height: 45%;
    min-height: 30rem;
    justify-content: center;

    &__stripe {
        height: 30rem;
        background-color: $c-deepBlush;
    }
}

.grey {
    color: $c-scorpion;
}

@media only screen and (max-width: 1024px) {
    .home {
        &__left-col {
            width: 10%;
        }

        &__mid-col {
            width: 80%;
        }

        &__right-col {
            width: 10%;
        }
    }
}

@media only screen and (max-width: 768px) {

    .home {
        height: 250vh;
        min-height: 165rem;
        clip-path: ellipse(140% 60% at 50% 40%);

        >img {
            display: none;
        }

        &__left-col {
            width: 0;
        }

        &__mid-col {
            width: 100%;
        }

        &__right-col {
            width: 0;
        }
    }

    .mid-header {
        flex-flow: column nowrap;
        align-items: center;
        height: 60%;

        &__stripe {
            left: 100%;
        }

        &__animate-stripe {
            left: 0;
        }

        &__left-part {
            width: 100%;
            height: 50%;

            >h1 {
                font-size: 3.5rem;
                text-align: center;
            }

            >h2 {
                font-size: 3.7rem;
                text-align: center;

                &:first-letter {
                    font-size: 5.3rem;
                }
            }
        }

        &__right-part {
            width: 100%;
            height: 50%;
        }

        &__background-inscription {
            font-size: 22.7rem;

        }

        &__buttons-wrap {
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 480px) {

    .home {
        clip-path: none;
        height: 100rem;
    }
    .mid-header {
        height: 50%;

        &__background-inscription {
            font-size: 10rem;
        }


        &__left-part {
            min-width: 30rem;
        }
    }
}