.menu {
    @include setFlex(row, center, stretch);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    max-height: 8rem;
    min-height: 3.5rem;
    background-color: $c-white;
    z-index: 3;
    border-bottom: 2px solid $c-deepBlush;
    box-sizing: border-box;

    &__left-col {
        width: 12.5%;
    }

    &__mid-col {
        width: 75%;
        @include setFlex(row, space-between, center);
    }

    &__right-col {
        width: 12.5%;
    }
}

.left-part-menu {
    @include setFlex(row, space-around, center);

    &__logo {
         @include setFlex(row, center, center);
    }

    &__button {
        display: none;
    }

    &__subpages-wrap {
        @include setFlex(row, center, center);
        color: #5d5d5d;
    }

    &__subpage {
        @include setFlex(row, center, center);
        width: 50%;
        padding: $space-small $space-large;
        margin: 0 $space-standard;
        text-align: center;
        font: $font-menu-small;
        white-space: nowrap;
        @include borderRadius(30%, 50%);

        a {
            text-decoration: none;
            color: $c-scorpion;
        }

        &:hover {
            cursor: pointer;
            background-color: $c-deepBlush;
            color: $c-white;
        }

        &:hover a {
            color: $c-white;
        }
    }
}

.right-part-menu {
    @include setFlex(row, space-between, center);
    min-width: 12rem;

    &__item {
        margin: 0 $space-standard;

        &:hover {
            cursor: pointer;
            transition: 0.3s all linear;
            transform: scale(1.2);
        }
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        min-height: 4.8rem;

        &__left-col {
            width: 0%;
        }

        &__mid-col {
            width: 100%;
        }

        &__right-col {
            width: 0%;
        }
    }
}

@media only screen and (max-width: 480px) {

    .menu {
        &--clicked {
            height: 20vh;
        }

        &__mid-col {
            @include setFlex(row, flex-end, center);
            position: relative;

            &--clicked {
                @include setFlex(column, space-evenly, stretch);
            }
        }
    }

    .left-part-menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 15%;
        height: 100%;

        &--clicked {
            position: static;
            width: 100%;
            height: 50%;
            margin-left: $space-standard;
        }

        &:hover {
            cursor: pointer;
        }

        &__button {
            @include setFlex(row, center, center);
            position: absolute;
            top:0.5rem;
            left:0;
            margin-left: $space-x-large;
            transform: rotate(90deg);
            font: $font-menu-large;
        }

        &__logo {
            display: none;
        }


        &__subpages-wrap {
            display: none;

            &--clicked {
                @include setFlex(row, center, stretch);
            }
        }

        &__subpage {
            padding: $space-small $space-x-small;
            margin: 0 $space-small;
            text-align: center;
            font: $font-menu-small;
            $c-white-space: nowrap;
        }
    }

    .right-part-menu {
        align-self: center;
    }
}