@import "styles/mixins.scss";
@import "styles/variables.scss";

.h3 {
  &--about {
    display: inline-block;

    margin-left: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;

    &::before {
      content: "</";
      color: $c-decorations;
    }

    &::after {
      content: ">";
      color: $c-decorations;
    }
  }

  &--aboutBracket {
    color: $c-decorations;
    margin-left: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  &--project {
    font-size: 1.2rem;
  }

  &--footer {
    margin: 0;
    font-size: 1.2rem;
    color: #ffffff;
  }
}

@media only screen and (max-width: 30em) {
  .h3 {
    &--aboutBracket {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2rem;
    }

    &--project {
      font-size: 1rem;
    }
  }
}
