@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.h3 {
  &--about {
    display: inline-block;

    margin-left: $space-x-large;
    margin-top: $space-x-small;
    margin-bottom: $space-standard;
    font-size: 2.5rem;

    &::before {
      content: "</";
      color: grey;
    }

    &::after {
      content: ">";
      color: grey;
    }
  }

  &--aboutBracket {
    color: grey;
    margin-left: $space-x-large;
    margin-top: $space-x-small;
    margin-bottom: $space-standard;
    font-size: 2.5rem;
  }

  &--project {
    font-size: 1.2rem;
  }

  &--footer {
    margin: 0;
    font-size: 1.2rem;
    color: $c-white;
  }
}
