@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.label {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #ffffff;

  &::first-letter {
    text-transform: capitalize;
  }
}

.input {
  &Contact {
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: $c-background1;
    border: none;
    border-radius: 0.5rem;
    outline: none;

    &:focus {
      transition: 0.2s background-color linear;
      background-color: $c-primary;
      color: #ffffff;
    }
  }

  &Submit {
    @include setFlex(row, center, center);
    align-self: center;
    width: 40%;
    height: 15%;
    margin-top: 2rem;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid $c-primary;
    @include borderRadius(20%, 50%);

    &:hover {
      transition: 0.2s all linear;
      cursor: pointer;
      background-color: $c-primary;
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 30em) {
  .input {
    &Submit {
      height: 10%;
    }
  }
}
