@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.wrap {
  @include setFlex(column, space-around, stretch);
  height: 110vh;
  background-color: #f6f6f6;
}

.underlay {
  position: relative;
  background-color: $c-background3;
  z-index: 2;
}

.stripe {
  @include setFlex(row, center, center);
  width: 35%;
  min-width: 10rem;
  height: 10%;
  min-height: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $c-primary;
  border: 1px solid $c-secondary;
  border-left: none;
  box-sizing: border-box;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
}

.content {
  @include setFlex(row, space-between, space-between, wrap);
  height: 65%;
  
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 48em) {
  .content {
    margin: 0;
  }
}

@media only screen and (max-width: 30em) {
  .stripe{
    width: 55%;
  }
  .content {
    margin: 0;
  }
}
