@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.h1{
    &--showcase{
        position: relative;
            margin-bottom: $space-small;
            font-size: 2rem;
            color: $c-deepBlush;
    }
}