// *colors

$c-primary: #e1cdb5;
$c-secondary: #49306b;
$c-background1: #ffffff;
$c-background2: #f6f6f6;
$c-background3: #2a2733;
$c-background-footer: #26212e;
$c-decorations: grey;
$c-footer-item: #36323f;
