@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.wrap {
    @include setFlex(column, flex-start, stretch);
    height: 70%;
    width: 40%;
    margin-left: 7%;
    border-left: 2px solid #e6e7e8;
    box-sizing: border-box;
  }

  .barsWrap {
    @include setFlex(column, space-around, stretch);
    height: calc(90% - 4.1rem);
    width: 90%;
    padding-left: 8%;
    box-sizing: border-box;
}

@media only screen and (max-width:48em){
  .wrap{
    margin: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width:30em){
  .wrap{
    width: calc(100% - 2rem);
  }
}

