@import "styles/mixins.scss";
@import "styles/variables.scss";
.wrap {
  @include setFlex(row, flex-start, stretch);
  height: 12%;
}

.bar {
  height: 100%;
  width: 80%;
  background-color: #ecedee;
  border-radius: 5px;
}

.level {
  @include setFlex(row, flex-start, center);
  height: 100%;
  padding-left: 5%;
  box-sizing: border-box;
  color: white;
  font-size: 1.8rem;
  background-color: $c-primary;
  border-radius: 5px;
  white-space: nowrap;
}

.number {
  @include setFlex(row, center, center);
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: $c-secondary;
}
