@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.anchor {
  &--menu {
    @include setFlex(row, center, center);
    width: 50%;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    text-align: center;
    font: 1.6rem Lato;
    white-space: nowrap;
    @include borderRadius(30%, 50%);
    text-decoration: none;
    color: #5d5d5d;
    transition: 0.3s background-color linear;

    &:hover {
      cursor: pointer;
      background-color: $c-secondary;
      color: #ffffff;
    }
  }

  &--menuIcon {
    @include setFlex(row, center, center);
    margin: 0 1rem;

    &:hover {
      cursor: pointer;
      transition: 0.3s all linear;
      transform: scale(1.2);
    }
  }

  &--showcase {
    @include setFlex(row, center, center);
    width: 30%;
    min-width: 11rem;
    text-decoration: none;
    color: $c-secondary;
    font-size: 1.6rem;
    line-height: 3.2rem;
    @include borderRadius(10%, 50%);

    &:first-child {
      margin-right: 10%;
      border: 1px solid $c-secondary;
      box-sizing: border-box;
    }

    &:hover {
      background-color: $c-secondary;
      color: #ffffff;
      transition: 0.3s all linear;
    }
  }

  &--project {
    @include setFlex(row, center, center);
    text-decoration: none;
    width: 40%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    outline: none;
    border: 2px solid transparent;
    @include borderRadius(15%, 50%);

    &:hover {
      transition: 0.2s transform linear;
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &--footerIcon {
    @include setFlex(row, center, center);
    width: 3rem;
    height: 3rem;
    min-width: 25px;
    min-height: 25px;
    background-color: $c-footer-item;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      transition: 0.3s all linear;
      background-color: $c-primary;
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 64em) {
  .anchor {
    &--project {
      height: 70%;
      min-height: 2.5rem;
    }
  }
}

@media only screen and (max-width: 64em) {
  .anchor {
    &--project {
      height: 50%;
      min-height: 2.5rem;
    }
  }
}
