@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
	font-size: 62.5%;
}

body{
	margin: 0;
}

.home__underlay{
	background-color: #f6f6f6;
	z-index: 2;
    position: relative;
}
.home{
	display: flex;
	position: relative;
	height: 150vh;
	margin-top: 10vh;
	background-color: white;
	clip-path: ellipse(100% 60% at 50% 40%);
	box-sizing: border-box;
}

.home > img{
	position: absolute;
}

.home > img:first-child{
	top: 2%;
	left: 73%;
}

.home > img:nth-child(2){
	top: 43%;
	left: 43%;
}
.home > img:nth-child(3){
	top: 52%;
	left: 3%;
}
.home > img:nth-child(4){
	top: 4%;
	left: 36%;
}
.home > img:nth-child(5){
	top: 57%;
	left: 90%;
}

.home__left-col{
	width: 12.5%;
}

.home__mid-col{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	width: 75%;
	min-width: 60rem;
	box-sizing: border-box;
}

.mid-header{
	display: flex;
	height: 45%;
	min-height: 30rem;
}

.mid-header__left-part{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	position: relative;
	width: 50%;
	min-width: 31rem;
	font-family: 'Lato', sans-serif;
	color: #36323f
}

.mid-header__left-part >h1{
	position: relative;
	margin-bottom: 0.5rem;
	font-size: 2rem;
	font-weight: 100;
}

/*.mid-header__left-part >h1:before{
	position: absolute;
	top:-10rem;
	left: -1rem;
	content: "I'm";
	font-size:13rem;
	color:#f6f6f6;
	z-index: -1;
}*/

.mid-header__left-part >h1 > span{
	color: #e67095;
}

.mid-header__left-part >h2{
	margin-top: 0rem;
	font-size: 3.2rem;
}

.mid-header__left-part >h2:first-letter{
	vertical-align: middle;
	font-size: 4.6rem;
	font-weight: 300;
}

.mid-header__buttons-wrap{
	display: flex;
	height: 3.2rem;
}
.mid-header__button{
	display: flex;
	justify-content: center;
	align-items: center;
	width:30%;
	min-width: 11rem;
	text-decoration: none;
	color: #e67095;
	font-size: 1.6rem;
	line-height: 3.2rem;
}

.mid-header__button:first-child{
	border: 1px solid #e67095;
	border-top-left-radius: 10% 50%;
	border-top-right-radius: 10% 50%;
	border-bottom-left-radius: 10% 50%;
	border-bottom-right-radius: 10% 50%;
	box-sizing: border-box;
	font-weight: 600;
	margin-right: 10%;
}

.mid-header__right-part{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 50%;
}

.mid-header__stripe{
	position: relative;
	height: 30rem;
	background-color: #e67095;
	border-top-left-radius: 15rem 15rem;
	border-bottom-left-radius: 15rem 15rem;
}

.mid-header__stripe > img{
	position: absolute;
	top:-0.4rem;
	left:-5.4rem;
	width: 45rem;
    height: 45rem;
    object-fit: cover;
    clip-path: circle(11.5rem at 20.4rem 15.5rem);
}

.mid-header__stripe-overlay{
	position: absolute;
	top: 3.6rem;
	left: 3.5rem;
	width: 23rem;
	height: 23rem;
	background-color: transparent;
	z-index: 1;
    transform: rotate(30deg);
}

.mid-header__stripe-circle{
	position: absolute;
	top: 2.5rem;
	left: 2.5rem;
	width: 25rem;
	height: 25rem;
	border-radius: 50%;
    background-color: white;
}

.home__right-col{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	width: 12.5%;
}

.right-header{
	display: flex;
	flex-flow: column nowrap;
	height: 45%;
	min-height: 30rem;
	justify-content: center;
}

.right-header__stripe{
	height: 30rem;
	background-color: #e67095;
}

.grey{
	color: #5d5d5d;
}






.home__underlay {
    z-index: 2;
    position: relative;
}

.home{
	margin-top: 10vh;
}

.home > img:nth-child(5){
	top: 57%;
	right: 2%;
}

.home__mid-col{
	min-width: 0;
}

.mid-header__background-inscription {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    font-size: 13rem;
    line-height: 13rem;
    color: #f6f6f6;
    z-index: -1;
}

.mid-header__left-part >h1:before{
	display:none;
}

.mid-header__button{
	border-top-left-radius: 10% 50%;
    border-top-right-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
}

.mid-header__button:hover {
    background-color: #e67095;
    box-sizing: border-box;
    font-weight: 600;
    color: white;
    transition: 0.3s all linear;
}

.mid-header__right-part{
	overflow: hidden;
}

.mid-header__stripe{
	transition: 1s all linear;
}

@media only screen and (max-width: 1024px) {
    .home__left-col {
        width: 10%;
    }

    .home__mid-col {
        width: 80%;
    }

    .home__right-col {
        width: 10%;
    }
}

@media only screen and (max-width: 768px) {

    .home {
        height: 250vh;
        min-height: 165rem;
        clip-path: ellipse(140% 60% at 50% 40%);
    }

    .home>img {
        display: none;
    }

    .home__left-col {
        width: 0%;
    }

    .home__mid-col {
        width: 100%;
    }

    .mid-header {
        flex-flow: column nowrap;
    }

    .mid-header {
        align-items: center;
        height: 60%;
    }

    .mid-header__stripe {
        left: 100%;
    }

    .mid-header__animate-stripe {
        left: 0%;
    }

    .mid-header__left-part {
        width: 100%;
        height: 50%;
    }

    .mid-header__right-part {
        width: 100%;
        height: 50%;
    }

    .mid-header__left-part>h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .mid-header__background-inscription {
        font-size: 22.7rem;

    }

    .mid-header__left-part>h2 {
        font-size: 3.7rem;
        text-align: center;
    }

    .mid-header__left-part>h2:first-letter {
        font-size: 5.3rem;
    }

    .mid-header__buttons-wrap {
        display: flex;
        justify-content: center;
    }

    .home__right-col {
        width: 0%;
    }
}

@media only screen and (max-width: 480px) {

    .home {
        clip-path: none;
        height: 100rem;
    }

    .mid-header__background-inscription {
        font-size: 10rem;
    }

    .mid-header {
        height: 50%
    }

    .mid-header__left-part {
        min-width: 30rem;
    }
}