html{
	font-size: 62.5%;
}

body{
	margin: 0;
}

.menu{
	display: flex;
	height: 10vh;
	max-height: 8rem;
	min-height: 3.5rem;
	border-bottom: 2px solid #e67095;
	box-sizing: border-box;
}

.menu__left-col{
	width: 12.5%;
}
.menu__mid-col{
	width: 75%;
	display: flex;
	justify-content: space-between;
}

.left-part-menu{
	display: flex;
}

.left-part-menu__logo{
	display: flex;
	align-items: center;
}

.left-part-menu__subpages-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-part-menu__subpage{
	display: flex;
	width: 50%;
	padding: 0.5rem 1.5rem;
	align-items: center;
	margin: 0 1rem;
	text-align: center;
	font-size: 1.6rem;
	white-space: nowrap;
}

.left-part-menu__subpage:first-child{
	color: #e67095;
}

.left-part-menu__subpage:nth-child(3){
	background-color: #e67095;
	color: white;
	border-top-right-radius: 30% 50%;
	border-bottom-right-radius: 30% 50%;
	border-top-left-radius: 30% 50%;
	border-bottom-left-radius: 30% 50%;
}

.right-part-menu{
	display: flex;
	align-items: center;
	min-width: 12rem;
	justify-content: space-between;
}

.right-part-menu__item{
	margin: 0 1rem;
}

.menu__right-col{
	width: 12.5%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 3;
}

.left-part-menu {
    justify-content: space-around;
}

.left-part-menu__button {
    display: none;
}

.left-part-menu__subpage a {
    text-decoration: none;
}

.left-part-menu__subpage:nth-of-type(1) a {
    color: #e67095;
}

.left-part-menu__subpage:nth-of-type(2) a {
    color: black;
}

.left-part-menu__subpage:nth-of-type(3) a {
    color: white;
}

.left-part-menu__subpage:first-child {
    color: #e67095;
}

.left-part-menu__subpage {
    border-top-right-radius: 30% 50%;
    border-bottom-right-radius: 30% 50%;
    border-top-left-radius: 30% 50%;
    border-bottom-left-radius: 30% 50%;
}

.left-part-menu__subpage:hover {
    cursor: pointer;
    background-color: #e67095;
    color: white;
    transition: 0.3s all linear;
}

.left-part-menu__subpage:hover a {
    color: white;
}

.right-part-menu__item:hover {
    cursor: pointer;
    transition: 0.3s all linear;
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    .menu {
        min-height: 4.8rem;
    }

    .menu__left-col {
        width: 0%;
    }

    .menu__mid-col {
        width: 100%;
    }

    .menu__right-col {
        width: 0%;
    }
}

@media only screen and (max-width: 480px) {

    .menu--clicked {
        height: 20vh;
        transition: 1s all ease-in-out
    }

    .menu__mid-col {
        justify-content: flex-end;
        position: relative;
    }

    .menu__mid-col--clicked {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .left-part-menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 15%;
        height: 100%;
    }

    .left-part-menu--clicked {
        justify-content: center;
        align-items: space-between;
        position: static;
        width: 100%;
        height: 50%;
        margin-left: 1rem;
    }

    .left-part-menu:hover {
        cursor: pointer;
    }

    .left-part-menu__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        transform: rotate(90deg);
        font-size: 3rem;
    }

    .left-part-menu__logo {
        display: none;
    }


    .left-part-menu__subpages-wrap {
        display: none;
    }

    .left-part-menu__subpages-wrap--clicked {
        display: flex;
    }

    .left-part-menu__subpage {
        display: flex;
        padding: 0.5rem 0.2rem;
        align-items: center;
        margin: 0 0.5rem;
        text-align: center;
        font-size: 1.6rem;
        white-space: nowrap;
    }

    .right-part-menu {
        align-self: center;
    }
}