html{
    font-size: 62.5%;
}

body{
    margin:0;
}

.projects__underlay {
    position: relative;
    background-color: #2a2733;
    z-index: 2;
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    height: 110vh;
    background-color: #f6f6f6;
}

.projects__stripe-wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    height: 20%;
    min-height: 4rem;
    margin-top: 4rem;
}

.projects__stripe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    background-color: #e67095;
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
}

.projects__stripe>h2 {
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
    color: white;
}

.content {
    display: flex;
    height: 80%;
}

.content__left-col {
    display: flex;
    flex-flow: column nowrap;
    width: 12.5%;
}

.content__mid-col {
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
    box-sizing: border-box;
}

.content__buttons-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17%;
    padding-left: 8%;
    padding-right: 8%;
}

.content__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 35%;
    border-top-right-radius: 15% 50%;
    border-top-left-radius: 15% 50%;
    border-bottom-right-radius: 15% 50%;
    border-bottom-left-radius: 15% 50%;
    font-weight: 600;
    color: #5d5d5d;
}

.content__button:hover {
    cursor: pointer;
    background-color: #e67095;
    color: white;
    transition: 0.5s background-color linear;
}

.content__imgs-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
    row-gap: 0.5rem;
    height: 83%;
    margin-bottom: 0.5rem;
}

.image {
    position: relative;
    width: 33%;
    height: 50%;
    border-radius: 1rem;
}

.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.image__overlay {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding-bottom: 10%;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.image__tittle-wrap {
    text-align: center;
    color: transparent;
}

.image__overlay h2 {
    font-size: 2rem;
}

.image__overlay h3 {
    font-size: 1.5rem;
}

.image__overlay button {
    width: 60%;
    height: 20%;
    background-color: transparent;
    color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    outline: none;
    border: 2px solid transparent;
    border-top-right-radius: 15% 50%;
    border-bottom-right-radius: 15% 50%;
    border-top-left-radius: 15% 50%;
    border-bottom-left-radius: 15% 50%;
}

.image__overlay:hover {
    transition: 1s all linear;
    background: linear-gradient(120deg, rgba(230, 112, 149, 0.8) 65%, rgba(230, 112, 149, 0.5) 0%);
    cursor: pointer;
}

.image__overlay:hover .image__tittle-wrap {
    transition: 1s all linear;
    color: white;
}

.image__overlay:hover button {
    transition: 1s all linear;
    color: white;
    border-color: white;
}

.image__overlay:hover button:hover {
    transition: 0.2s all linear;
    transform: scale(1.2);
    border: 3px solid white;
    cursor: pointer;
}

.content__right-col {
    width: 12.5%;
    box-sizing: border-box;
}

.projects__svg-container {
    position: relative;
    width: 100%;
    height: 13vw;
}

.projects__contact {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #e67095;
}

svg.outer-border-outside {
    clip-path: ellipse(55% 100% at 50% 103%);
}

svg.outer-border-inside {
    clip-path: ellipse(calc(55% - 0.5px) calc(100% - 3px) at 50% 103%);
}

svg.inner-border-outside {
    clip-path: ellipse(55% 100% at 50% 120%);
}

svg.inner-border-inside {
    clip-path: ellipse(calc(55% - 1.5px) calc(100% - 3px) at 50% 120%);
}

.testsvg{
    width: 100%;
    height: 100%;
}



@media only screen and (max-width: 768px) {
    .content__left-col {
        width: 0%;

    }

    .content__mid-col {
        width: 100%;
    }

    .content__right-col {
        width: 0%;
    }
}

@media only screen and (max-width: 480px) {

    .projects {
        padding-bottom: 2rem;
    }

    .projects__stripe {
        width: 50%;
    }

    .content__buttons-wrap {
        flex-flow: row wrap;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }

    .content__button {
        width: 25%;
    }

    .content__imgs-wrap {
        justify-content: space-around;
    }

    .image {
        width: 35%;
    }

    .image__overlay h2 {
    font-size: 1.4rem;
}

.image__overlay h3 {
    font-size: 1rem;
}


.projects__svg-container {
    position: relative;
    width: 100%;
    height: 20vw;
}

}