@import "styles/mixins.scss";
@import "styles/variables.scss";
.light {
  width: 20%;
  height: 50%;
  border-radius: 50%;

  &Red {
    @extend .light;
    background-color: $c-red-ribon;
  }

  &Yellow {
    @extend .light;
    background-color: $c-pear;
  }

  &Green {
    @extend .light;
    background-color: $c-olive-drab;
  }
}
