@import "styles/mixins.scss";
@import "styles/variables.scss";
.wrap {
  @include setFlex(column, flex-start, center);
  background-color: $c-background3;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 77vh;
  min-height: 42.8rem;
  z-index: 1;
}

.form {
  @include setFlex(column, flex-start, stretch);
  width: 35%;
  height: 65%;
  min-width: 17rem;
  min-height: 30rem;
  margin-top: 0.5rem;
}
